<!-- footer -->
<footer class="text-center" id="footer">
	<h2>
		Let's start the conversation!
	</h2>
	<img src="{{site.baseurl | relative_url }}/assets/coffee.png" class="coffee" alt="coffee">
		<p class="lead">
			Nearby? We're often available to get together to discuss your needs over a cup of coffee.
		</p>
	<address>
		(415) 699-5346<br>
		<a href="mailto:support@virtualtuneup.net">support@virtualtuneup.net</a>
	</address>
	<p class="small">
		&copy; 2015 Virtual TuneUp
	</p>
	<p>
		<a onclick="$('body').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
			<i class="fa fa-arrow-up">
			</i>
		</a>
	</p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{site.baseurl | relative_url }}/js/animatescroll.min.js"></script>
