---
layout: default
---
<div class="container blog" id="blog">
	<div class="col-sm-12">
		<h1>{{ page.title }}</h1>
		<p class="author"><i class="fas fa-newspaper"></i>&nbsp;&nbsp;Written by {{ page.author }}</p>
		<div class="addthis_toolbox addthis_default_style addthis_16x16_style addthis-padding" addthis:title="{{ page.title }}">
			<a class="addthis_button_facebook"></a>
			<a class="addthis_button_twitter"></a>
			<a class="addthis_button_linkedin"></a>
			<a class="addthis_button_email"></a>
		</div>
		{{ content }}
	</div>
</div>
